.custom-sign-in {
    background-color: white !important;
    border-color: #f15a22 !important; 
    color: #f15a22 !important;
}

.custom-sign-in:hover {
    background-color: #f15a22 !important;
    color: white !important;
}

.custom-office365 {
    background-color: #f15a22 !important;
    color: white !important;
    border-color: #f15a22;
}

.custom-office365:hover {
    background-color: #ff6f3b !important;
    border-color: #ff6f3b !important; 
}

.mt-6 {
    position: relative;
}

.mt-6::before {
    content: "";
    position: absolute;
    top: -10px; 
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #ddd; 
}

.login-form .ant-form-item-control-input .ant-input:hover,
.login-form .ant-form-item-control-input .ant-input:focus,
.login-form .ant-form-item-control-input .ant-input-affix-wrapper:hover,
.login-form .ant-form-item-control-input .ant-input-affix-wrapper:focus {
    border-color: #ddd !important; 
    box-shadow: none !important; 
    outline: none !important;
}

.login-form .ant-form-item-control-input .ant-input,
.login-form .ant-form-item-control-input .ant-input-affix-wrapper {
    border-color: #ddd !important; 
    box-shadow: none !important;
}
